//COLOR
$primary-100: #d5edfe;
$primary-300: #81bff9;
$primary-500: #2f80ec;
$primary-700: #1749a9;
$primary-900: #092371;

$secondary-100: #f5f8fa;
$secondary-300: #d5dbe1;
$secondary-500: #8f959d;
$secondary-700: #485671;
$secondary-900: #1b274b;

$netral-100: #e3f0f4;
$netral-300: #98b3c0;
$netral-500: #1e272e;
$netral-700: #0f1721;
$netral-900: #050b16;

$success-100: #e3fbd6;
$success-300: #94eb82;
$success-500: #31bf31;
$success-700: #18892c;
$success-900: #095b25;

$info-100: #dafcff;
$info-300: #90e7ff;
$info-500: #47c1ff;
$info-700: #2372b7;
$info-900: #0d397a;

$warning-100: #fff4db;
$warning-300: #ffd693;
$warning-500: #ffab4c;
$warning-700: #b76526;
$warning-900: #7a330e;

$danger-100: #ffe4d6;
$danger-300: #ff9983;
$danger-500: #ff3232;
$danger-700: #b71934;
$danger-900: #7a0930;

//FONT
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

$base-font: "Poppins", sans-serif;
